ansiwrap @ file:///build/dist/ansiwrap-0.8.4-py2.py3-none-any.whl
anyio @ file:///build/dist/anyio-3.6.2-py3-none-any.whl
argon2-cffi @ file:///build/dist/argon2_cffi-21.3.0-py3-none-any.whl
argon2-cffi-bindings @ file:///build/argon2-cffi-bindings-21.2.0/dist/argon2_cffi_bindings-21.2.0-cp310-abi3-linux_x86_64.whl
asttokens @ file:///build/dist/asttokens-2.2.1-py2.py3-none-any.whl
attrs @ file:///build/dist/attrs-22.2.0-py3-none-any.whl
Babel @ file:///build/dist/Babel-2.12.1-py3-none-any.whl
backcall @ file:///build/dist/backcall-0.2.0-py2.py3-none-any.whl
beautifulsoup4 @ file:///build/dist/beautifulsoup4-4.11.2-py3-none-any.whl
bleach @ file:///build/dist/bleach-6.0.0-py3-none-any.whl
blosc2 @ file:///build/dist/blosc2-2.0.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
certifi @ file:///build/dist/certifi-2022.12.7-py3-none-any.whl
cffi @ file:///build/dist/cffi-1.15.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
charset-normalizer @ file:///build/dist/charset_normalizer-3.0.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
click @ file:///build/dist/click-8.1.3-py3-none-any.whl
cloudpickle @ file:///build/dist/cloudpickle-2.2.1-py3-none-any.whl
comm @ file:///build/dist/comm-0.1.2-py3-none-any.whl
contourpy @ file:///build/dist/contourpy-1.0.7-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
coverage @ file:///build/dist/coverage-7.2.1-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl
cycler @ file:///build/dist/cycler-0.11.0-py3-none-any.whl
Cython @ file:///build/dist/Cython-0.29.33-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl
dask @ file:///build/dist/dask-2022.5.2-py3-none-any.whl
dask-glm @ file:///build/dist/dask_glm-0.2.0-py2.py3-none-any.whl
dask-ml @ file:///build/dist/dask_ml-2022.5.27-py3-none-any.whl
debugpy @ file:///build/dist/debugpy-1.6.6-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
decorator @ file:///build/dist/decorator-5.1.1-py3-none-any.whl
defusedxml @ file:///build/dist/defusedxml-0.7.1-py2.py3-none-any.whl
Deprecated @ file:///build/dist/Deprecated-1.2.13-py2.py3-none-any.whl
distributed @ file:///build/dist/distributed-2022.5.2-py3-none-any.whl
entrypoints @ file:///build/dist/entrypoints-0.4-py3-none-any.whl
exceptiongroup @ file:///build/dist/exceptiongroup-1.1.0-py3-none-any.whl
executing @ file:///build/dist/executing-1.2.0-py2.py3-none-any.whl
fastjsonschema @ file:///build/dist/fastjsonschema-2.16.3-py3-none-any.whl
fonttools @ file:///build/dist/fonttools-4.38.0-py3-none-any.whl
fsspec @ file:///build/dist/fsspec-2023.3.0-py3-none-any.whl
graphviz @ file:///build/dist/graphviz-0.20.1-py3-none-any.whl
HeapDict @ file:///build/dist/HeapDict-1.0.1-py3-none-any.whl
idna @ file:///build/dist/idna-3.4-py3-none-any.whl
imageio @ file:///build/dist/imageio-2.26.0-py3-none-any.whl
iniconfig @ file:///build/dist/iniconfig-2.0.0-py3-none-any.whl
ipdb @ file:///build/dist/ipdb-0.13.11-py3-none-any.whl
ipykernel @ file:///build/dist/ipykernel-6.21.2-py3-none-any.whl
ipython @ file:///build/dist/ipython-8.11.0-py3-none-any.whl
ipython-genutils @ file:///build/dist/ipython_genutils-0.2.0-py2.py3-none-any.whl
ipywidgets @ file:///build/dist/ipywidgets-8.0.4-py3-none-any.whl
jedi @ file:///build/dist/jedi-0.18.2-py2.py3-none-any.whl
Jinja2 @ file:///build/dist/Jinja2-3.1.2-py3-none-any.whl
joblib @ file:///build/dist/joblib-1.2.0-py3-none-any.whl
json5 @ file:///build/dist/json5-0.9.11-py2.py3-none-any.whl
jsonschema @ file:///build/dist/jsonschema-4.17.3-py3-none-any.whl
jupyter-server @ file:///build/dist/jupyter_server-1.23.6-py3-none-any.whl
jupyter_client @ file:///build/dist/jupyter_client-8.0.3-py3-none-any.whl
jupyter_core @ file:///build/dist/jupyter_core-5.2.0-py3-none-any.whl
jupyterlab @ file:///build/jupyterlab-3.2.6/dist/jupyterlab-3.2.6-py3-none-any.whl
jupyterlab-pygments @ file:///build/dist/jupyterlab_pygments-0.2.2-py2.py3-none-any.whl
jupyterlab-widgets @ file:///build/dist/jupyterlab_widgets-3.0.5-py3-none-any.whl
jupyterlab_server @ file:///build/dist/jupyterlab_server-2.19.0-py3-none-any.whl
jupytext @ file:///build/dist/jupytext-1.14.5-py3-none-any.whl
kiwisolver @ file:///build/dist/kiwisolver-1.4.4-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl
llvmlite @ file:///build/dist/llvmlite-0.39.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
locket @ file:///build/dist/locket-1.0.0-py2.py3-none-any.whl
markdown-it-py @ file:///build/dist/markdown_it_py-2.2.0-py3-none-any.whl
MarkupSafe @ file:///build/dist/MarkupSafe-2.1.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
matplotlib @ file:///build/dist/matplotlib-3.7.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
matplotlib-inline @ file:///build/dist/matplotlib_inline-0.1.6-py3-none-any.whl
mdit-py-plugins @ file:///build/dist/mdit_py_plugins-0.3.5-py3-none-any.whl
mdurl @ file:///build/dist/mdurl-0.1.2-py3-none-any.whl
meshio @ file:///build/dist/meshio-5.3.4-py3-none-any.whl
mistune @ file:///build/dist/mistune-2.0.5-py2.py3-none-any.whl
mpmath @ file:///build/dist/mpmath-1.2.1-py3-none-any.whl
msgpack @ file:///build/dist/msgpack-1.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
multipledispatch @ file:///build/dist/multipledispatch-0.6.0-py3-none-any.whl
nbclassic @ file:///build/dist/nbclassic-0.5.2-py3-none-any.whl
nbclient @ file:///build/dist/nbclient-0.7.2-py3-none-any.whl
nbconvert @ file:///build/dist/nbconvert-7.2.9-py3-none-any.whl
nbformat @ file:///build/dist/nbformat-5.7.3-py3-none-any.whl
nbval @ file:///build/dist/nbval-0.10.0-py2.py3-none-any.whl
nest-asyncio @ file:///build/dist/nest_asyncio-1.5.6-py3-none-any.whl
notebook @ file:///build/dist/notebook-6.5.2-py3-none-any.whl
notebook_shim @ file:///build/dist/notebook_shim-0.2.2-py3-none-any.whl
numba @ file:///build/dist/numba-0.56.4-cp310-cp310-manylinux2014_x86_64.manylinux_2_17_x86_64.whl
numexpr @ file:///build/dist/numexpr-2.8.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
numpy @ file:///build/dist/numpy-1.23.5-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
packaging @ file:///build/dist/packaging-23.0-py3-none-any.whl
pandas @ file:///build/dist/pandas-1.5.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
pandocfilters @ file:///build/dist/pandocfilters-1.5.0-py2.py3-none-any.whl
papermill @ file:///build/dist/papermill-2.4.0-py3-none-any.whl
parso @ file:///build/dist/parso-0.8.3-py2.py3-none-any.whl
partd @ file:///build/dist/partd-1.3.0-py3-none-any.whl
pexpect @ file:///build/dist/pexpect-4.8.0-py2.py3-none-any.whl
pickleshare @ file:///build/dist/pickleshare-0.7.5-py2.py3-none-any.whl
Pillow @ file:///build/dist/Pillow-9.4.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
platformdirs @ file:///build/dist/platformdirs-3.1.0-py3-none-any.whl
pluggy @ file:///build/dist/pluggy-1.0.0-py2.py3-none-any.whl
pooch @ file:///build/dist/pooch-1.7.0-py3-none-any.whl
POT @ file:///build/dist/POT-0.8.2-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl
prometheus-client @ file:///build/dist/prometheus_client-0.16.0-py3-none-any.whl
prompt-toolkit @ file:///build/dist/prompt_toolkit-3.0.38-py3-none-any.whl
psutil @ file:///build/dist/psutil-5.9.3-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl
ptyprocess @ file:///build/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///build/dist/pure_eval-0.2.2-py3-none-any.whl
py-cpuinfo @ file:///build/dist/py_cpuinfo-9.0.0-py3-none-any.whl
pycparser @ file:///build/dist/pycparser-2.21-py2.py3-none-any.whl
pyFFTW @ file:///build/dist/pyFFTW-0.13.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
Pygments @ file:///build/dist/Pygments-2.14.0-py3-none-any.whl
pygraphviz @ file:///build/pygraphviz-1.10/dist/pygraphviz-1.10-cp310-cp310-linux_x86_64.whl
pymks @ file:///build/source/dist/pymks-0%2Bunknown-py3-none-any.whl
pyparsing @ file:///build/dist/pyparsing-3.0.9-py3-none-any.whl
pyrsistent @ file:///build/dist/pyrsistent-0.19.3-py3-none-any.whl
pytest @ file:///build/dist/pytest-7.2.2-py3-none-any.whl
pytest-cov @ file:///build/dist/pytest_cov-4.0.0-py3-none-any.whl
python-dateutil @ file:///build/dist/python_dateutil-2.8.2-py2.py3-none-any.whl
pytz @ file:///build/dist/pytz-2022.7.1-py2.py3-none-any.whl
pyvista @ file:///build/dist/pyvista-0.38.3-py3-none-any.whl
PyYAML @ file:///build/dist/PyYAML-6.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl
pyzmq @ file:///build/dist/pyzmq-25.0.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
requests @ file:///build/dist/requests-2.28.2-py3-none-any.whl
rich @ file:///build/dist/rich-13.3.2-py3-none-any.whl
scikit-learn @ file:///build/dist/scikit_learn-1.1.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
scipy @ file:///build/dist/scipy-1.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
scooby @ file:///build/dist/scooby-0.7.1-py3-none-any.whl
Send2Trash @ file:///build/dist/Send2Trash-1.8.0-py3-none-any.whl
sfepy @ file:///build/source/dist/sfepy-2022.1-cp310-cp310-linux_x86_64.whl
six @ file:///build/dist/six-1.16.0-py2.py3-none-any.whl
sniffio @ file:///build/dist/sniffio-1.3.0-py3-none-any.whl
sortedcontainers @ file:///build/dist/sortedcontainers-2.4.0-py2.py3-none-any.whl
soupsieve @ file:///build/dist/soupsieve-2.4-py3-none-any.whl
stack-data @ file:///build/dist/stack_data-0.6.2-py3-none-any.whl
sympy @ file:///build/dist/sympy-1.11.1-py3-none-any.whl
tables @ file:///build/dist/tables-3.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
tblib @ file:///build/dist/tblib-1.7.0-py2.py3-none-any.whl
tenacity @ file:///build/dist/tenacity-8.2.2-py3-none-any.whl
terminado @ file:///build/dist/terminado-0.17.1-py3-none-any.whl
textwrap3 @ file:///build/dist/textwrap3-0.9.2-py2.py3-none-any.whl
threadpoolctl @ file:///build/dist/threadpoolctl-3.1.0-py3-none-any.whl
tinycss2 @ file:///build/dist/tinycss2-1.2.1-py3-none-any.whl
toml @ file:///build/dist/toml-0.10.2-py2.py3-none-any.whl
tomli @ file:///build/dist/tomli-2.0.1-py3-none-any.whl
toolz @ file:///build/dist/toolz-0.12.0-py3-none-any.whl
tornado @ file:///build/tornado-6.2/dist/tornado-6.2-cp37-abi3-linux_x86_64.whl
tqdm @ file:///build/dist/tqdm-4.65.0-py3-none-any.whl
traitlets @ file:///build/dist/traitlets-5.9.0-py3-none-any.whl
urllib3 @ file:///build/dist/urllib3-1.26.14-py2.py3-none-any.whl
vtk @ file:///build/dist/vtk-9.2.6-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
wcwidth @ file:///build/dist/wcwidth-0.2.6-py2.py3-none-any.whl
webencodings @ file:///build/dist/webencodings-0.5.1-py2.py3-none-any.whl
websocket-client @ file:///build/dist/websocket_client-1.5.1-py3-none-any.whl
widgetsnbextension @ file:///build/dist/widgetsnbextension-4.0.5-py3-none-any.whl
wrapt @ file:///build/dist/wrapt-1.15.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl
zict @ file:///build/dist/zict-2.2.0-py2.py3-none-any.whl
